$bg: #fff;
$text: #382b22;
$light-pink: #c9e9f6;
$pink: #87ceeb;
$dark-pink: #45b3e0;
$pink-border: #1f1f1f;
$pink-shadow: #5bbce4;

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  cursor: default;
  background: linear-gradient(
    90deg,
    #87ceeb 0%,
    #87ebd6 30%,
    #e0e722 67%,
    #cfff04 100%
  );
  background-size: 1000%;
  animation: background 20s linear alternate infinite;
}

@keyframes background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.container {
  margin-top: 100px;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
}

.container-box-1 {
  width: 800px;
  height: 30px;
  background-color: white;
  position: relative;
  top: -250px;
  left: 200px;
  -webkit-box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.container-box-2 {
  background-color: white;
  -webkit-box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);

  position: relative;
  top: -170px;
}
p {
  font-size: 1.5em;
  margin: 15px;
}



@media only screen and (max-width: 375px) {
  .container {
    width: 50%;
    position: relative;
    top: 400px;
    left: 100px;

  }
}
@media only screen and (max-width: 375px){
  .container-box-1{
  width: 50%;
  left: 10px;
  top: 10px;

}}

