* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  cursor: default;
  background: linear-gradient(
    90deg,
    #87ceeb 0%,
    #87ebd6 30%,
    #e0e722 67%,
    #cfff04 100%
  );
  background-size: 1000%;
  animation: background 20s linear alternate infinite;
}

@keyframes background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.info_text{
  position: absolute;
  top: 60px;
  left: 130px;
  font-family: 'Bangers', cursive; 
  z-index: 1;
}

.container {
  margin-top: 100px;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-weight: 900;
  letter-spacing: 5px;
}

.container-box-1 {
  width: 800px;
  height: 30px;
  background-color: white;
  position: relative;
  top: -150px;
  left: 250px;
  text-align: center;
  -webkit-box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.container-box-2 {
  background-color: white;
  -webkit-box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);

  position: relative;
  top: -200px;
  text-indent: 50px;
}
p {
  font-size: 1.5em;
  margin: 15px;
}



.logo-instagram{
float: right;
margin-right: 50px;
  
  margin-top: 50px;
}


@media only screen and (max-width: 475px) {
  .container {
    width: 50%;
    position: relative;
    top: 400px;
    left: 100px;
  }
}
@media only screen and (max-width: 475px) {
  .container-box-1 {
    width: 300px;
    height: 100px;
    left: -10px;
    top: -400px;
  }
}

@media only screen and (max-width: 475px) {
  .container-box-2 {
    width: 300px;
    height: 430px;
    left: -10px;
    top: -350px;
    text-indent: 50px;
  }
}
